* {
    box-sizing: border-box;
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
}
.navbar-toggler {
    margin: 9px 130px;
    font-size: 1.3em;
}

.no-gutters {
    background-color: #f72210;
}

.btn-login {
    position: relative;
    left: 110px;
}

.btn {
    line-height: 0.4;
    height: 20px;
    position: relative;
    top: 14px;
    left: 125px;
}

.btn-subscribe {
    border-radius: 25px;
    background-color: #ffe400;
}

.text-muted {
    font-size: 15px;
}

.card {
    border: none;
}

.figcaption-card {
    color: #f72210;
}
