* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px !important;
}

.div1,
button {
    background-color: #f72210;
}

.meteo,
.login-btn {
    color: white;
}

.subscribe-btn {
    background-color: #ffe400;
    color: black;
    padding: 0 12px;
    margin: 0 0 0 10px;
    border-radius: 24px;
    height: 24px;
}

.big-border {
    border-top: 15px solid #f72210;
    border-left: 15px solid transparent;
    margin-top: -16px;
}

.header-bottom,
.trending-topics {
    border-bottom: 1px solid lightgray;
}

.header-bottom a:hover {
    color: #f72210;
}

.us {
    border-right: 1px solid lightgray;
}

.figcaption,
.figcaption-card {
    bottom: 0;
    width: auto;
    padding: 5px 20px;
    background-color: rgba(252, 252, 252, 0.9);
}

.figcaption-card1 {
    bottom: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 160px;
    height: 30px;
}

.figcaption a,
.figcaption-card1,
.block-title,
.head {
    color: #f72210;
}

.paragraph,
.link,
.title,
.stories,
.opinion,
.magazine,
.editors-pick,
.sub-topics,
.sub-content,
.subscribe-section,
.top-footer {
    border-bottom: 1px solid lightgray;
}

.debate,
.debate-article {
    border-bottom: 3px solid lightgray;
}
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.vs-bar {
    border-radius: 55%;
    background-color: black;
    width: 30px;
    height: 25px;
    border: 1px solid black;
    left: 50%;
    top: 5%;
}

.vs {
    color: white;
}

.jumbotron {
    border: 1px solid #e5e5e5;
    background-color: #f4f5f6;
    width: 280px;
    margin: 10px auto;
}

h3 {
    font-size: 20px;
}

.free-signup input {
    width: 100%;
    height: 31px;
    margin-top: 10px;
}

.form-text {
    width: 100%;
    height: 31px;
    color: #555;
    border: 1px solid #e0e1e1;
}

.form-submit {
    color: #ffff;
    background-color: #f61602;
    border-radius: 4px;
}

.cover {
    color: #ffff;
    background-color: #f61602;
}

.news {
    color: #f61602;
}

.front-img {
    top: 13px;
    left: 80px;
}

.part1 {
    background-color: #f4f5f6;
}

.pelcro-subscribe-button {
    background-color: #f72310;
    color: white;
    border-radius: 4px;
    padding: 10px 10px 10px 12px;
    cursor: pointer;
}

.img-block {
    background: url("images/homepage.png") center/contain no-repeat;
    background-size: cover;
    height: 345px;
}

.fa-facebook-square {
    font-size: 25px;
}
