.navbar-toggler {
    margin: 9px 130px;
    font-size: 1.3em;
}

.row {
    background-color: #f72210;
}

.btn-login {
    position: relative;
    left: 110px;
}

.btn {
    line-height: 0.4;
    height: 20px;
    position: relative;
    top: 14px;
    left: 125px;
}

.btn-subscribe {
    border-radius: 25px;
    background-color: #ffe400;
}
